<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Live status and traffic trends of SS309 - Romea">
    <meta name="author" content="gabll">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>RomeaJam</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom css for this page -->
    <link href="static/theme.css" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://use.fontawesome.com/7f6f8e6467.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><i class="fa fa-car" aria-hidden="true"></i>&nbsp&nbspRomeaJam&nbsp<sup>BETA</sup></a>
        </div>
      </div>
    </nav>

    <div class="container">

    <!-- TABS -->
    <div class="tabs">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a data-toggle="tab" href="#arrive"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp&nbspArrive</a></li>
      <li><a data-toggle="tab" href="#leave"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp&nbspLeave</a></li>
    </ul>
      <div class="tab-content">
        <!-- First tab: arrive -->
        <!-- overall traffic -->
        <div id="arrive" class="tab-pane fade in active">
            <div class="bs-callout bs-callout-{% if road_status['Arrive']['packing_index'] < 0.25 %}success{% elif road_status['Arrive']['packing_index']< 0.37 %}warning{% else %}danger{% endif %}">
              <div class="row vertical-align"><div class="col-border col-xs-10">
              <h4>Traffic: {{ "{0:.0f}%".format(road_status['Arrive']['packing_index'] * 100) }}</h4>
              Alerts: {{ "%s" % road_status['Arrive']['traffic_alerts'] }} Accidents: {{ "%s" % road_status['Arrive']['accident_alerts'] }}
              </div><div class="col-xs-2 text-center">
                  <h3 class="text-{% if road_average['Arrive'] < -15 %}success"><i class="fa fa-arrow-down fa" aria-hidden="true"></i>{% elif road_average['Arrive'] < 15 %}muted"><i class="fa fa-minus fa" aria-hidden="true"></i>{% else %}danger"><i class="fa fa-arrow-up fa" aria-hidden="true"></i>{% endif %}</h3>
              </div></div>
            </div>
        <!-- traffic details -->
        <ul class="list-group">
            {% for s in segment_status if s.category == 'Arrive' %}
            <li class="list-group-item">
                <div class="row vertical-align"><div class="col-border col-xs-10">
                  {{ s.label|safe }}
                  Traffic: {{ "{0:.0f}%".format(s.packing_index * 100) }}<br/>
                  Alerts: {{ "%s" % s.traffic_alerts }} Accidents: {{ "%s" % s.accident_alerts }}
              </div><div class="col-xs-2 text-center">
                  <!-- <h4 class="text-danger"><i class="fa fa-arrow-up fa" aria-hidden="true"></i></h4> -->
              </div></div>
            </li>
            {% endfor %}
        </ul>
        </div>
        <!-- Second tab: leave -->
            <!-- overall traffic -->
            <div id="leave" class="tab-pane fade">
                <div class="bs-callout bs-callout-{% if road_status['Leave']['packing_index'] < 0.25 %}success{% elif road_status['Leave']['packing_index']< 0.37 %}warning{% else %}danger{% endif %}">
                  <div class="row vertical-align"><div class="col-border col-xs-10">
                  <h4>Traffic: {{ "{0:.0f}%".format(road_status['Leave']['packing_index'] * 100) }}</h4>
                  Alerts: {{ "%s" % road_status['Leave']['traffic_alerts'] }} Accidents: {{ "%s" % road_status['Leave']['accident_alerts'] }}
                  </div><div class="col-xs-2 text-center">
                      <h3 class="text-{% if road_average['Arrive'] < -15 %}success"><i class="fa fa-arrow-down fa" aria-hidden="true"></i>{% elif road_average['Arrive'] < 15 %}muted"><i class="fa fa-minus fa" aria-hidden="true"></i>{% else %}danger"><i class="fa fa-arrow-up fa" aria-hidden="true"></i>{% endif %}</h3>
                  </div></div>
                </div>
            <!-- traffic details -->
            <ul class="list-group">
                {% for s in segment_status if s.category == 'Leave' %}
                <li class="list-group-item">
                    <div class="row vertical-align"><div class="col-border col-xs-10">
                      {{ s.label|safe }}
                      Traffic: {{ "{0:.0f}%".format(s.packing_index * 100) }}<br/>
                      Alerts: {{ "%s" % s.traffic_alerts }} Accidents: {{ "%s" % s.accident_alerts }}
                  </div><div class="col-xs-2 text-center">
                      <!-- <h4 class="text-danger"><i class="fa fa-arrow-up fa" aria-hidden="true"></i></h4> -->
                  </div></div>
                </li>
                {% endfor %}
            </ul>
        </div>
      </div>
    </div>

    </div><!-- /.container -->

    <footer class="footer">
      <div class="container">
        <p class="text-footer">made with <i class="fa fa-heart" aria-hidden="true"></i> in ciosa</p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Custom javascript for this page -->

    <!-- Google Analytics code-->

  </body>
</html>
